<div class="wrapper">
<div class="container topc">
	<br>
	<h2>About IEEE</h2>
	<p>IEEE is the world's largest technical professional organization dedicated to advancing technology for the benefit of humanity. IEEE and its members inspire a global community to innovate for a better tomorrow through its highly cited publications, conferences, technology standards, and professional and educational activities. IEEE is the trusted “voice” for engineering, computing, and technology information worldwide.</p>
	<p>There are more than 420,000 IEEE members in over 160 countries. IEEE publishes a third of the world’s technical literature in electrical engineering, computer science, and electronics and is a leading developer of international standards that underpin many of today's telecommunications, IT, and power-generation products and services.</p>
	<h4><a href='https://www.ieee.org/'>Learn more at the official IEEE website</a></h4>
</div>

<div class="container">
	<br>
	<h2>About IEEE UCI</h2>
	<p>The IEEE Student Branch at the University of California, Irvine was founded in 1967 by Professor Roland Schinzinger as the first General Advisor. Our IEEE Student Branch is the oldest student organization on the UC Irvine campus. Today, our past members work in the professional world or continue their education beyond the bachelor's degree but will always be part of our student branch. In the past we have held two of the most honored awards in the realm of academic organizations: Engineering Club of the Year (among many other clubs), Most Outstanding Academic Club of the Year, and Best Small IEEE Student Branch in the western United States.</p>
	<p>Continuing our legacy of helping the students of UC Irvine, we continually offer workshops, company information sessions, tech talks and other opportunities to assist in professional development. We are all geeks at heart and encourage technical exploration and creativity by providing an open lab where students are free to work on projects, collaborate with other students, and study in a healthy environment.</p>
</div>
</div>
