<div class="container topc">
	<div class="avatar-flip">
		<img src="img/board/christa.png" alt="" height="150" width="150">
	</div>
	<h2>Mindy Saylors</h2>
	<h4>PRESIDENT</h4>
	<p>Mindy is an Electrical Engineering senior who's interested in power grid stability, microgrids, power systems design, electronic recycling, and recycling in general. On her free time, Mindy enjoys riding her bike (everywhere), making delicious food, listening to audio-books, and hanging out with friends.</p>
	<p>Mindy joined IEEE in Spring of her first year transferring after being invited to study for an upcoming EECS 50 midterm. She quickly became a regular member and was ardent about making it an efficient space to work on projects and study in a positive atmosphere. This brought her to pursue IEEE's Student Chapter President for the 2018-2019 school year.</p>
	<p>For this year, Mindy aims to support Engineering and CS projects, pay for members' conference registration fees, strengthen interaction with companies like Texas Instruments, UCI clubs like <a href="http://ucihkn.github.io">Eta Kappa Nu</a> and <a href="http://clubs.uci.edu/shpe/">SHPE</a> and IEEE UCI Alumni, and increase the club's board organization and ease of board rotation.</p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/justin.png" alt="" height="150" width="150">
	</div>
	<h2>Justin Lee</h2>
	<h4>DIRECTOR OF INTERNAL | LAB MANAGER</h4>
	<p>I am a salad enthusiast.</p>
	<p>Other than that, I love hardware architecture, as well as C++. I enjoy making Hackintoshes out of Thinkpads, and I have a non-exclusive love/hate relationship for bugs.</p>
	<p>"We choose to go to the moon in this decade and do the other things (accomplishments and aspirations), not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win." -- JFK</p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/chance.jpg" alt="" height="150" width="150">
	</div>
	<h2>Chance Ornelas</h2>
	<h4>DIRECTOR OF INTERNAL</h4>
	<p>I'm Chance the Internal Director of Internal and currently a fourth year in EE. I really like photonics and cooking new things. I mainly like to go to the gym and work on reading random stuff about photonics in free time.
		Oh and fighting games are fun too! If you have any questions about graduate school, EE, or photonics just ask. I also like teaching so if you need help with a class I took I can probably help.</p>
</div>


<div class="container">
	<div class="avatar-flip">
		<img src="img/board/SamVargas.png" alt="" height="150" width="150">
	</div>
	<h2>Samuel Vargas</h2>
	<h4>DIRECTOR OF RELATIONS | LAB MANAGER</h4>
	<p>Sam Vargas is a fourth year Electrical Engineering Student, specializing in digital signal processing and communications. In his free time, Sam likes to write music and tinker with guitar amps and circuits.</p>
	<p>Sam joined IEEE at the end of his sophomore year when several of his classmates told him how cool it was. He liked IEEE so much that he quickly wanted to do his part to make IEEE better and he became a lab manager and helped to ensure safety in the lab space. At the beginning of this year, he was chosen to serve as Director of Relations.</p>
	<p>In the coming months, Sam will be focusing on expanding opportunities for Engineering and Computer Science students by holding technical training workshops in areas such as PCB design and circuit component soldering. Sam will also focus on creating joint technical projects with other school organizations.</p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/FaithChua.png" alt="" height="150" width="150">
	</div>
	<h2>Faith Chua</h2>
	<h4>DIRECTOR OF OUTREACH | PUBLICSIST | EVENT COORDINATOR</h4>
	<p>Hello! My name is Faith and I am currently a second year at UCI. I am pursuing a triple major in Computer Science, Political Science, and Business Economics with a minor in Informatics. I speak 3 languages: English, Tagalog, and Japanese and I love to read, travel around, and spend time with my friends and family. Other than that, I love learning about cybersecurity, web development, and in general, expanding all of the programming languages that I know.</p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/RandallCheng2.png" alt="" height="150" width="150">
	</div>
	<h2>Randall Cheng</h2>
	<h4>TREASURER</h4>
	<p>Randall Cheng is a second year Electrical Engineering and Computer Engineering double major (Class of 2020). Randall joined IEEE in his freshman year because he wanted to meet electrical and computer science/engineering peers, increase his presence in networking with companies, and develop his interests in multiple types of engineering (electrical, computer, computer science, other STEM majors, etc.) He loves to learn more through the workshops offered. His hobbies other than engineering consist of photography, exercising, music, movies, and more. Randall’s goal for the future is to obtain an engineering position in his interests and enjoy life to the fullest.</p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/AlanWong2.png" alt="" height="150" width="150">
	</div>
	<h2>Alan Wong</h2>
	<h4>WEBMASTER</h4>
	<p>Alan is a second year Computer Science and Engineering student. He enjoys following tech news whether it be smartphones or new CPUs and esports such as League of Legends. In his free time, Alan likes to play video games like Battlefield and Tekken.<p>
	<p>Alan joined IEEE in his first year wanting to meet other EECS majors and learned web development through IEEE.</p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/people/prima-donna-abrantes.jpg" alt="" height="150" width="150">
	</div>
	<h2>Prima Donna Abrantes</h2>
	<h4>GRAPHIC DESIGNER</h4>
	<p>Prima is currently a 2nd-year majoring in Biomedical Engineering - Premed. Her interests run far and wide, from professional bowling to cooking &amp; baking. She also enjoys digital design, video games, eating, cinematography, and photography.</p>
	<p>She joined the club in her freshman year and has since gained an interest in learning coding languages such as Java and C++.</p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/people/emiko-soroka.jpg" alt="" height="150" width="150">
	</div>
	<h2>Emiko Soroka</h2>
	<h4>EVENT COORDINATOR</h4>
	<p> Hi everyone; it's Emi! I'm a 4th year aerospace major, CS minor, and the hardware team lead for CanSat at UCI. I am most interested in controls, embedded systems, and automating repetitive tasks so I get more time to… uh… fix automation bugs.<p>

	<p>I joined IEEE last year after noticing how much time I spent in their room. My favorite aspect of the club is how open we are - everyone is welcome to drop by. As one of the event coordinators, I hope to bring more MAE majors to IEEE and make our club a fun and educational place for all students at UCI.</p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/mathew-buscemi.jpg" alt="" height="150" width="150">
	</div>
	<h2>Mathew Buscemi</h2>
	<h4>LAB MANAGER</h4>
	<p></p>
</div>
