<div class="container topc">
	<div class="avatar-flip">
		<img src="../img/people/aditya-koppula.jpg" alt="" height="150" width="150">
	</div>
	<h2>Aditya Koppula</h2>
	<h4>PRESIDENT</h4>
	<p>Aditya is a 3rd year Computer Science major who's interested in robotics, artificial intelligence, virtual reality, web development, and video games. In his free time, Aditya enjoys reading, playing video games including League of Legends , and spending time with his friends.</p>
	<p>Aditya joined IEEE in his freshman year after attending an Arduino workshop organized by IEEE. He quickly became a vocal member of the IEEE UCI community, and landed a position as webmaster for his second year before becoming president this year.</p>
	<p>In the coming years, Aditya aims to expand IEEE UCI's member base and activities, to better serve the needs of the Engineering and CS communities at UCI and increase the reach and reputation of IEEE UCI.</p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="../img/people/ho-ren-kang.png" alt="" height="150" width="150">
	</div>
	<h2>Ho-Ren Kang</h2>
	<h4>EXTERNAL VICE PRESIDENT</h4>
	<p>Ho-Ren is a Junior studying Computer Science at UCI and formerly at UCR. He enjoys learning about cybersecurity, playing with old and new hardware, and developing mobile applications.</p>
	<p>Ho-Ren joined IEEE’s UCR branch freshman year and became an active member of the IEEE UAV team until he transferred schools.</p>
	<p>After witnessing the amazing activities, infrastructure, and community, Ho-Ren plans to bring similar aspects and results to IEEE@UCI.</p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="../img/people/justin-lee.png" alt="" height="150" width="150">
	</div>
	<h2>Justin Lee</h2>
	<h4>LAB MANAGER</h4>
	<p>I am a salad enthusiast.</p>
	<p>Other than that, I love hardware architecture, as well as C++. I enjoy making Hackintoshes out of Thinkpads, and I have a non-exclusive love/hate relationship for bugs.</p>
	<p>"We choose to go to the moon in this decade and do the other things (accomplishments and aspirations), not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win." -- JFK</p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="../img/people/ian-may.png" alt="" height="150" width="150">
	</div>
	<h2>Ian May</h2>
	<h4>LAB COORDINATOR</h4>
	<p>Ian May is a fourth year Electrical Engineering major. He joined IEEE in his second year and was eager to contribute to its cooperative environment and awesome technical culture. A hobby coder and tinker by nature, you can find him by the soldering station in the lab room or staring at lines of code.</p>
</div>
