<div class="container topc">
	<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ieee.ucirvine%40gmail.com&amp;color=%231B887A&amp;src=uciclubaffiliates%40gmail.com&amp;color=%23AB8B00&amp;src=h1n1o7s9e8112ss80beabhng90%40group.calendar.google.com&amp;color=%23691426&amp;src=kgj9pc92tt00ti6ga9o3627n8s%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
