<div class="container topc">
	<br>
	<h2>Follow IEEE UCI</h2>
	<p>For general announcements and event reminders, join our <a href="https://www.facebook.com/groups/IEEE.UCI/">Facebook group</a>. Follow us on <a href="https://www.instagram.com/ieee_uci/">Instagram</a>, <a href="https://twitter.com/ieee_uci">Twitter</a>, and <a href="https://www.snapchat.com/add/IEEE_UCI">Snapchat</a>. We also have a <a href="https://discord.gg/TMDY9Ty">Discord server</a> and a <a href="https://www.twitch.tv/ieee_uci">Twitch channel</a>.</p>
	<p>We encourage you to subscribe to our mailing list below to stay up to date with our events and activities. If you need to contact us directly, please email <a href="mailto:ieee.ucirvine@gmail.com">ieee.ucirvine@gmail.com</a>.</p>
</div>

<div class="container">
	<iframe src="../templates/subscribe.html" height="50%" width="100%" frameborder="0" style="border:0;border-radius:3px;margin-top:20px;">iframe not supported?</iframe>
</div>
