<div class="container">
  <br>
	<h2>Events</h2>
	<br>
  <h2>PCB Design Workshop</h2>
  <h4>November 29th</h4>
  <br />
  <div class="slider">
    <ul class="slides transparent">
      <li>
        <img src="img/events/Fall2018/pcb-design-1.jpg">
      </li>
      <li>
        <img src="img/events/Fall2018/pcb-design-2.jpg">
      </li>
    </ul>
  </div>
<br><br/>
<br><br/>
	<h2>Soldering Workshop</h2>
  <h4>October 25</h4>
	<br />
	<div class="slider">
		<ul class="slides transparent">
			<li>
				<img src="img/events/Fall2018/soldering1.jpg">
			</li>
			<li>
				<img src="img/events/Fall2018/soldering2.jpg">
			</li>
			<li>
				<img src="img/events/Fall2018/soldering3.jpg">
			</li>
			<li>
				<img src="img/events/Fall2018/soldering4.jpg">
			</li>
			<li>
				<img src="img/events/Fall2018/soldering5.jpg">
			</li>
		</ul>
	</div>
	<br>
	<br>
  <h2>IEEEXtreme 12.0</h2>
  <h4>October 19 - October 20</h4>
  <br />
	<div class="slider">
    <ul class="slides transparent">
      <li>
				<img src="img/events/Fall2018/IEEEXtreme12.0-1.jpg">
      </li>
      <li>
				<img src="img/events/Fall2018/IEEEXtreme12.0-2.jpg">
			</li>
			<li>
				<img src="img/events/Fall2018/IEEEXtreme12.0-3.jpg">
			</li>
			<li>
				<img src="img/events/Fall2018/IEEEXtreme12.0-4.jpg">
			</li>
    </ul>
  </div>
</div>
