<div class="wrapper">
<div class="container topc">
	<br>
	<h2>Events</h2>
	<p>
		Table of Contents<br />
		•<a (click)="scrollToElement(winter_2019)" class="table-of-contents">Winter 2019</a>
		<br>
		•<a (click)="scrollToElement(fall_2018)" class="table-of-contents">Fall 2018</a>
	</p>
</div>

<div #winter_2019 class="container">
  <br>
	<h2>Winter 2019</h2>
	<br>
  <h2>OC IEEE February BBQ</h2>
  <h4>February 26th, 2019</h4>
  <br>
  <div class="slider">
    <ul class="slides transparent">
      <li>
        <img src="img/events/Winter2019/ieee_oc_bbq.jpg">
      </li>
    </ul>
  </div>
<br><br/>

	<h2>OC IEEE Boba Nights</h2>
  <h4>Tuesday Once a Month</h4>
  <p style="text-align:center">Join OC IEEE Young Professionals free boba for IEEE members, free appetizers for all and board games at Cha for Tea!</p>
	<br>
	<div class="slider">
		<ul class="slides transparent">
			<li>
				<img src="img/events/Winter2019/boba_night1.jpg">
			</li>
			<li>
				<img src="img/events/Winter2019/boba_night2.jpg">
			</li>
			<li>
				<img src="img/events/Winter2019/boba_night3.jpg">
			</li>
		</ul>
	</div>
</div>

<div #fall_2018 class="container">
  <br>
  <h2>Fall 2018</h2>
  <br>
  <h2>IEEE Hack/Build Night</h2>
  <h4>December 14th, 2018</h4>
  <br>
  <div class="slider">
      <ul class="slides transparent">
        <li>
          <img src="img/events/Fall2018/hack_night.jpg">
	</li>
      </ul>
  </div>
  <br>
  <h2>PCB Design Workshop</h2>
  <h4>November 29th, 2018</h4>
  <br>
  <div class="slider">
    <ul class="slides transparent">
      <li>
        <img src="img/events/Fall2018/pcb-design-1.jpg">
      </li>
      <li>
        <img src="img/events/Fall2018/pcb-design-2.jpg">
      </li>
    </ul>
  </div>
<br>
	<h2>Soldering Workshop</h2>
  <h4>October 25, 2018</h4>
	<br>
	<div class="slider">
		<ul class="slides transparent">
			<li>
				<img src="img/events/Fall2018/soldering1.jpg">
			</li>
			<li>
				<img src="img/events/Fall2018/soldering2.jpg">
			</li>
			<li>
				<img src="img/events/Fall2018/soldering3.jpg">
			</li>
			<li>
				<img src="img/events/Fall2018/soldering4.jpg">
			</li>
			<li>
				<img src="img/events/Fall2018/soldering5.jpg">
			</li>
		</ul>
	</div>
	<br>
  <h2>LaTex Workshop</h2>
  <h4>October 16, 2018</h4>
  <br>
  <div class="slider">
    <ul class="slides transparent">
      <li>
        <img src="img/events/Fall2018/LaTeX_Workshop.png">
      </li>
    </ul>
  </div>
  <h2>IEEEXtreme 12.0</h2>
  <h4>October 19 - October 20, 2018</h4>
  <br>
	<div class="slider">
    <ul class="slides transparent">
      <li>
				<img src="img/events/Fall2018/IEEEXtreme12.0-1.jpg">
      </li>
      <li>
				<img src="img/events/Fall2018/IEEEXtreme12.0-2.jpg">
			</li>
			<li>
				<img src="img/events/Fall2018/IEEEXtreme12.0-3.jpg">
			</li>
			<li>
				<img src="img/events/Fall2018/IEEEXtreme12.0-4.jpg">
			</li>
    </ul>
  </div>
</div>
