<div class="wrapper">
<div class="container topc">
  <br>
  <h2>Get Involved</h2>
  <p>
    If you need a place to 📖 study for upcoming exams, 📝 hang out or 🎮 de-stress 🕹, IEEE at UCI is open weekdays (and sometimes weekends) in ICS 225!
    Everyone is welcome - we hope to see you around!
    <br><br>

    Subscribe to our mailing list <a routerLink="/contact">here</a> to keep up to date with our future events and workshops. Also, join our <a href="https://ieeeuci.us1.list-manage.com/track/click?u=1db8428cfa01005b3e732b737&id=06b2fb8dc2&e=1d1b9ae1da">Slack</a>
    where you can ask lab managers to keep the room open over the weekends, ask about upcoming technical workshops, and be in contact with your fellow IEEE members (Your executive board is nearly always on it).
  <br>
  </p>
  <h3 >Membership</h3>
  <p>We are asking for $30 for a yearlong membership, so we can host more workshops and events, 
     help fund members so they can attend conferences such as SPAC and RLDC and create projects.
     Membership benefits include:</p>
  <ul style="padding-left: 3rem">
    <li>Access to our Electrical Lab
      <ul style="padding-left: 2rem">
        <li>Soldering stations</li>
        <li>Oscilloscopes</li>
        <li>Function generators</li>
        <li>Power supplies; common components and tools</li>
      </ul>
    </li>
    <li>Lab Computers and Printers
      <ul style="padding-left: 2rem">
        <li>Common engineering and CS software is installed; lab managers can add new software on request</li>
      </ul>
    </li>
    <li>Microwave, Fridges, Freezer
      <ul style="padding-left: 2rem">
        <li>Project Lab Space and Storage</li>
      </ul>
    </li>
    <li>Students may request an IEEE project box to store hardware for class or personal projects</li>
  </ul>
  <p>Come to our lab room, ICS 225, if you would like to become a member.<br></p>
  <br>

  <h3>Projects</h3>
  <p>
  Check out our ongoing and completed projects <a routerLink="/projects">here</a>.
  If you have any project ideas you would like to share, please come to our lab room to talk to us about it or contact us through the IEEE
   <a href="https://ieeeuci.us1.list-manage.com/track/click?u=1db8428cfa01005b3e732b737&id=06b2fb8dc2&e=1d1b9ae1da">Slack</a>.
  </p>

</div>

</div>
