<div id="contentArea" class="col s12 m11 l11">
    <div materialize  class="slider">
        <div class="logo-wrapper">
            <img src="./img/ieeelogo.svg">
            <b>IEEE UCI</b>
        </div>
        <ul class="slides">
            <li>
                <img src="./img/libraryImage.jpg">
                <div class="caption right-align">
                    <h3>Academic
                        <h5 class="light grey-text text-lighten-3">
                            We invite companies for infosession
                        </h5>
                    </h3>
                </div>
            </li>
            <li>
                <img src="./img/socialScene.jpg">
                <div class="caption right-align"> 
                    <h3>Social
                        <h5 class="light grey-text text-lighten-3">
                            We go clubbing
                        </h5>
                    </h3>
                </div>
            </li>
            <li>
                <img src="./img/nerdWorkshop.jpg">
                <div class="caption right-align"> 
                    <h3>Creativity
                        <h5 class="light grey-text text-lighten-3">
                            We hosts workshops
                        </h5>
                    </h3>
                </div>
            </li>
        </ul>
    </div>
</div>
