<div id="contentArea" class="col s12 m11 l11">
	<div materialize id="slider" class="slider">
		<div class="logo-wrapper">
			<img src="img/ieeelogo.svg" alt="">
			<b>IEEE UCI</b>
		</div>
		<ul class="slides">
			<li>
				<img src="img/libraryImage.jpg" alt="">
				<div class="caption right-align">
					<h3>Academic</h3>
						<h5 class="light grey-text text-lighten-3">
							We organize corporate info sessions</h5>
				</div>
			</li>
			<li>
				<img src="img/socialScene.jpg" alt="">
				<div class="caption right-align"> 
					<h3>Social</h3>
						<h5 class="light grey-text text-lighten-3">
							We go clubbing (not really)</h5>
				</div>
			</li>
			<li>
				<img src="img/nerdWorkshop.jpg" alt="">
				<div class="caption right-align"> 
					<h3>Creativity</h3>
						<h5 class="light grey-text text-lighten-3">
							We host technical workshops</h5>
				</div>
			</li>
		</ul>
	</div>
</div>
