<div id="contentArea" class="col s12 m11 l11">
	<div materialize id="slider" class="slider">
		<div class="logo-wrapper">
			<img src="img/ieeelogo.svg" alt="">
			<b>IEEE at UCI</b>
		</div>
		<ul class="slides">
			<li>
				<img src="img/event-pictures/Soldering_1.jpg" alt="">
			</li>
			<li>
				<img src="img/event-pictures/IEEExtreme2018_1.jpg" alt="">
			<li>
				<img src="img/event-pictures/Soldering_2.jpg" alt="">
			</li>
			<li>
				<img src="img/event-pictures/IEEExtreme2018_2.jpg" alt="">
			</li>
		</ul>
	</div>
</div>
