<!--div class="row">
    <div class="col s12 m12 l6">
        <div id="mapDescription" class="card-panel ieee-blue"><span class="white-text">
            Our lab is located in the ICS Tower in room ICS 1337. (insert map image with location highlighted, along with google maps embed)

Figure out what we want to say here lol, it's not worth putting one sentence here. I'm thinking we can just have a map image with the location circled and the room number printed beneath, plus the google maps embed. They could stack vertically on small screens and show up side by side on larger screens or something.
        </span></div>
    </div>
    <div class="col s12 m12 l6">
        <div class="video-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sus!4v1471059494514!6m8!1m7!1sF%3A-S8Bd47PVSXI%2FV47QN3sq5ZI%2FAAAAAAAAALE%2FVZRzp-Mt6BQcuW4W4unOPieUwxOM_Zk-gCLIB!2m2!1d33.6445834!2d-117.8415758!3f134.33666619573617!4f80.77332679983402!5f0.7820865974627469" width="800" height="900" frameborder="0" style="border:0;border-radius:3px" allowfullscreen></iframe>
        </div>
    </div>
</div-->

<div class="container topc">
    <br>
    <p>Our lab is located in the ICS Tower in room ICS 1337. (insert map image with location highlighted, along with google maps embed) </p>

    <p>Figure out what we want to say here lol, it's not worth putting one sentence here. I'm thinking we can just have a map image with the location circled and the room number printed beneath, plus the google maps embed. They could stack vertically on small screens and show up side by side on larger screens or something.</p>
</div>

<div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sus!4v1471059494514!6m8!1m7!1sF%3A-S8Bd47PVSXI%2FV47QN3sq5ZI%2FAAAAAAAAALE%2FVZRzp-Mt6BQcuW4W4unOPieUwxOM_Zk-gCLIB!2m2!1d33.6445834!2d-117.8415758!3f134.33666619573617!4f80.77332679983402!5f0.7820865974627469" width="100%" height="100%" frameborder="0" style="border:0;border-radius:3px;margin-top:20px;" allowfullscreen></iframe>
</div>
