<div class="row">
    <div class="col s12 m6 l6">
        <div id="mapDescription" class="card-panel ieee-blue"><span class="white-text">
            I am lining a very lonely life please help me. I only find joy now making this website. This is my life goal.
        </span></div>
    </div>
    <div class="col s12 m12 l6">
        <div class="video-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sus!4v1471059494514!6m8!1m7!1sF%3A-S8Bd47PVSXI%2FV47QN3sq5ZI%2FAAAAAAAAALE%2FVZRzp-Mt6BQcuW4W4unOPieUwxOM_Zk-gCLIB!2m2!1d33.6445834!2d-117.8415758!3f134.33666619573617!4f80.77332679983402!5f0.7820865974627469" width="800" height="900" frameborder="0" style="border:0;border-radius:3px" allowfullscreen></iframe>
        </div>
    </div>
</div>
