<div class="container topc">
	<br>
	<p>Our lab is located in the ICS building in ICS 225. We have plenty of resources for engineers to make use of, including two circuit stations (with oscilloscopes, multimeters, power supplies, etc.), a soldering station, and breadboards and various circuit components.</p>
	<p>Even if you don't need any of these, you can always drop by to work on projects, seek advice from upperclassmen, or just spend some quality time with other IEEE UCI engineers!</p>
	<p><b>Lab Hours</b><br>Monday — Friday: 10am — 6pm</p>
</div>

<div class="container">
	<br>
	<img src="img/lab.jpg" width="100%" alt="">
</div>
