<div class="wrapper">
<div class="container topc">
	<br>
	<h2>Projects</h2>
	<p>
	These are some of the projects that members of IEEE are doing. If you have a project you would like to share, you can contact us through <a href="https://ieeeuci.us1.list-manage.com/track/click?u=1db8428cfa01005b3e732b737&id=06b2fb8dc2&e=1d1b9ae1da">Slack</a> or visit our lab room, ICS 225, and we can help out.<br />
	</p>
	<p>
	Table of Contents<br />
	•<a (click)="scrollToElement(arcade)" class="table-of-contents">Arcade Machine</a>
	<br>
	•<a (click)="scrollToElement(micromouse)" class="table-of-contents">Micromouse</a>
	</p>
</div>

<div #arcade class="container">
  <br>
  <h2>IEEE Arcade Machine</h2>
  <br />
  <h3>Week 1</h3>
  <p>We finally got our arcade machine in! The cabinet is in rough shape and it will need some work but it’s definitely in working condition. We got to play around with the original game before saying goodbye to it.</p>
 <div class="slider">
    <ul class="slides transparent">
      <li>
	<img src="img/arcade-project-pictures/Week1Pic1.jpg" alt="first slide">
	<div class="caption center-align">
        </div>
      </li>
      <li>
        <img src="img/arcade-project-pictures/Week1Pic2.jpg" alt="second slide">
      </li>
    </ul>
  </div>

<br><br/>
<br><br/>
  <h3>Week 2</h3>
  <p>We opened up the cabinet to look at everything inside… We have our work cut out for us. First thing we need to do is take out all the controls and the monitor.</p>
  <div class="slider">
     <ul class="slides transparent">
       <li>
 	<img src="img/arcade-project-pictures/Week2Pic1.jpg" alt="first slide">
       </li>
       <li>
         <img src="img/arcade-project-pictures/Week2Pic2.jpg" alt="second slide">
       </li>
       <li>
 	<img src="img/arcade-project-pictures/Week2Pic3.jpg" alt="first slide">
       </li>
       <li>
 	<img src="img/arcade-project-pictures/Week2Pic4.jpg" alt="first slide">
       </li>
       <li>
 	<img src="img/arcade-project-pictures/Week2Pic5.jpg" alt="first slide">
       </li>
     </ul>
   </div>

  <br><br/>
  <br><br/>
  <h3>Week 3</h3>
  <p>The cabinet is almost fully cleaned out. This week we finished taking out the monitor. This was pretty tricky. We had to make sure that we discharged the cathode ray tube and that we didn’t crack the monitor as we took it out. Safety is always first!!</p>
  <div class="slider">
     <ul class="slides transparent">
       <li>
 	<img src="img/arcade-project-pictures/Week3Pic1.jpg" alt="first slide">
       </li>
       <li>
         <img src="img/arcade-project-pictures/Week3Pic2.jpg" alt="second slide">
       </li>
     </ul>
   </div>

   <br><br/>
  <br><br/>
  <h3>Week 4</h3>
  <p>Now comes the boring stuff. We’re searching around for the parts that we will need: 2 joysticks and whole lot of buttons! When we get those in, we’ll start putting things together. We’ll be putting in a computer unit, monitor, speakers and lighting. The really fun part will come when we start writing the front-end software.</p>
</div>

<div #micromouse class="container">
	<br>
  <h2>Micromouse</h2>
  <br>
	<p>
	If you would like to know more about Micromouse, visit Micromouse's Facebook page <a href="https://www.facebook.com/groups/153805515376853/">here</a>.
	</p>
	<div class="row">
	    <div class="col s12 l6">
	        <div class="slider micromouse">
		    <ul class="slides transparent">
 			<li>
	 	            <img src="img/micromouse/26993433_1804459976231546_7240261990791595718_n.jpg">
			</li>
			<li>
			    <img src="img/micromouse/28164392_10105937816814361_6889248268390099969_o.jpg">
			</li>
			<li>
			    <img src="img/micromouse/28234976_10105937816714561_7474195451441236329_o.jpg">
			</li>
			<li>
			    <img src="img/micromouse/28424232_10105937816809371_1918241582739294747_o.jpg">
			</li>
		    </ul>
		</div>
	    </div>
	    <div class="col s12 l6">
		<div class="slider micromouse">
	 	    <ul class="slides transparent">
	                <li>
	  		    <img src="img/micromouse/29101813_2090330537660258_8941279757379567616_n.jpg">
	                </li>
	                <li>
	                    <img src="img/micromouse/29135991_2090330257660286_8626711894444474368_n.jpg">
	        	</li>
	 	 	<li>
	 	            <img src="img/micromouse/29179030_2090330314326947_5058696417774665728_n.jpg">
	        	</li>
	 		<li>
			    <img src="img/micromouse/30443046_1883656341645242_5369800956521218048_n.jpg">
	 		</li>
	 	</ul>
	    </div>
		<br><br/>
		</div>
		<div class="col s12 l6">
			<div class="slider micromouse">
				<ul class="slides transparent">
				<li>
				 <img src="img/micromouse/30443409_532645650463797_3026166688476521506_n.jpg">
				</li>
				<li>
					<img src="img/micromouse/30531095_1883655034978706_7776299818556588032_n.jpg">
				</li>
				<li>
					<img src="img/micromouse/31423815_1904277726249770_6275603898480721920_n.jpg">
				</li>
			 </ul>
			</div>
		</div>
		<div class="col s12 l6">
			<div class="slider micromouse">
				<ul class="slides transparent">
			    <li>
						<img src="img/micromouse/32482893_2164788146881163_8820890295064330240_n.jpg">
			    </li>
			    <li>
			      <img src="img/micromouse/33079142_1929124147098461_5121162550976708608_n.jpg">
			    </li>
					<li>
						<img src="img/micromouse/IMG_1823.JPG">
					</li>
			 	</ul>
			</div>
		</div>
	</div>
</div>
