<div id="sponsors">
	<div class="container">
		<h2>Sponsors</h2>
		<a href="http://www.ti.com/" target="_blank">
			<img src="img/sponsors/texas-instruments-logo.jpg">
		</a>
		<a href="http://www.urop.uci.edu/" target="_blank">
			<img src="img/sponsors/urop-logo.jpg">
		</a>
		<a href="http://engineering.uci.edu/" target="_blank">
			<img src="img/sponsors/henry-samueli-logo.jpg">
		</a>
		<a href="http://esc.eng.uci.edu/" target="_blank">
			<img src="img/sponsors/esc-logo-white-gold.png">
		</a>
		Please <a href="/#/contact">contact us</a> to sponsor IEEE UCI and appear on this page.
	</div>
</div>
