<div id="sponsors">
    <div class="container">
        <a href="http://us.blizzard.com/" target="_blank">
        <img id="blizzard" src="../img/BlizzardEntertainment.svg"></a></div>
    <div class="container">
        <a href="https://www.mentor.com/" target="_blank">
        <img id="mentor-graphics" src="../img/MentorGraphics.svg"></a></div>
    <div class="container">
        <a href="http://www.teradata.com/" target="_blank">
        <img id="teradata" src="../img/Teradata.png"></a></div>
</div>
