<div id="sponsors">
	<div class="container">
		<a href="http://us.blizzard.com/" target="_blank">
		<img id="blizzard" alt="" src="../img/BlizzardEntertainment.svg"></a></div>
	<div class="container">
		<a href="https://www.mentor.com/" target="_blank">
		<img id="mentor-graphics" alt="" src="../img/MentorGraphics.svg"></a></div>
	<div class="container">
		<a href="http://www.teradata.com/" target="_blank">
		<img id="teradata" alt="" src="../img/Teradata.png"></a></div>
	<div class="container">
		<a href="https://realwaystoearnmoneyonline.com/studypool-tutor-review/" target="_blank">
		<img id="studypool" alt="" src="../img/Studypool.png"></a>
		<a href="https://realwaystoearnmoneyonline.com/studypool-tutor-review/" target="_blank">Studypool</a> is an online marketplace that connects students with questions with tutors who can answer them. Using <a href="https://realwaystoearnmoneyonline.com/studypool-tutor-review/" target="_blank">Studypool</a> gives you access to thousands of verified tutors to help you with any question at any time.
	</div>
</div>
