.bodyDiv {
    height: 100%;
    overflow-y: auto;
    background-color: #009FDA;
    width: auto;
}

.fa {
    color: #009FDA;
    position: relative;
    width: 35px;
    left: .2rem;
    font-size:2.1rem;
}

.li.navCon:hover {
  color: #EEEEEE;
}

.a:active {
    text-color: black;
}

.navWrapper {
    width: 300px;
    margin: 0;
    text-align: center;
}

.navCon {
    display: inline-block;
    padding: 10px 15px;
}

#navArea {
    z-index: 5;
    background-color: #006699;
    position: fixed;
    padding: 0;
}

.row {
    margin-bottom: 0;
}

@media screen and (max-width: 450px) {
    .navCon {
        padding: 10px 21px;
	bottom: 1rem;
    }

    #navArea {
        z-index: 5;
        background-color: #006699;
        position: fixed;
        padding: 0;
        height: 100vh;
        transition: ease-in-out 400ms;
        width: 0px;
        overflow: hidden;
    }

    .toggleNavbarStyle {
      width: 185px !important;
      transition: ease-in-out 600ms !important;
    }

    #nav-bars {
      text-align: left;
      margin: 0;
      position: absolute;
      left: 0.1rem;
      top: 0.6rem;
    }

    .fa {
        left: -0.7rem;
    }

    #mobile-title {
      text-align: center;
      font-size: 1.5rem;
      color: white;
      margin: auto;
    }

    .mobile-toggle {
      width: 100%;
      padding: 10px 0px 10px 0px;
      text-align: left;
      background-color: #006699;
    }

    .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
      padding: 0 1rem;
    }

    .navWrapper {
      background:#006699;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      width:220px;
      overflow:hidden;
      z-index:1000;
    }

    .navWrapper li {
      position:relative;
      display:block;
      width:220px;
    }

    .navWrapper .description {
      position:relative;
      display:table-cell;
      vertical-align:middle;
      width:120px;
      left: 1rem;
      text-align: left;
    }

    .navWrapper li>a {
      position:relative;
      display:table;
    }
}

@media screen and (min-width: 451px) {
    .navWrapper {
        display: inline;
    }
    .navCon {
        display: block;
        padding: 10px 10px;
        text-align: center;
        bottom: 1rem;
    }
    #navArea {
        position: static;
        height: 100vh;
        width: 70px;
    }
    .navWrapper:hover,nav.navArea.expanded {
      width:220px;
      overflow:visible;
    }

    .navWrapper {
      background:#006699;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      width:60px;
      overflow:hidden;
      -webkit-transition:width .05s linear;
      transition:width .05s linear;
      -webkit-transform:translateZ(0) scale(1,1);
      z-index:1000;
    }

    .navWrapper li {
      position:relative;
      display:block;
      width:220px;
    }

    .navWrapper li>a {
      position:relative;
      display:table;
      -webkit-transform:translateZ(0) scale(1,1);
      -webkit-transition:all .1s linear;
      transition:all .1s linear;

    }

    .navWrapper .description {
      position:relative;
      display:table-cell;
      vertical-align:middle;
      width:190px;
      left: 3rem;
      text-align: left;
      font-size: 1.07rem;
    }

    .navWrapper li:hover {
      color:#EEEEEE;
      background-color:#EEEEEE;
    }

    .mobile-toggle {
      display: none;
    }
}
